{
    "env": {
        "es2017": true,
        "es2020": true,
        "es6": true,
        "node": true
    },
    "extends": ["eslint:recommended", "plugin:import/recommended", "plugin:regexp/recommended", "prettier"],
    "overrides": [
        {
            "extends": ["plugin:jest/recommended"],
            "files": ["test/**"],
            "plugins": ["jest"]
        },
        {
            "extends": [
                "plugin:@typescript-eslint/recommended-type-checked",
                "plugin:@typescript-eslint/stylistic-type-checked",
                "plugin:import/typescript"
            ],
            "files": ["**/*.ts"]
        }
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "regexp", "eslint-plugin-tsdoc"],
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "caseInsensitive": true,
                    "order": "asc"
                },
                "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
                "newlines-between": "always"
            }
        ],
        "no-else-return": "error",
        "no-empty": [
            "error",
            {
                "allowEmptyCatch": true
            }
        ],
        "no-extra-bind": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-param-reassign": "error",
        "no-redeclare": "error",
        "no-template-curly-in-string": "error",
        "no-unreachable": "error",
        "no-useless-constructor": "error",
        "prefer-arrow-callback": "error",
        "prefer-exponentiation-operator": "error",
        "prefer-template": "error",
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true
            }
        ],
        "regexp/no-super-linear-backtracking": "warn",
        "require-atomic-updates": "error",
        "require-await": "error",
        "sort-imports": [
            "error",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true
            }
        ],
        "tsdoc/syntax": "warn"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    }
}
