{
    "printWidth": 150,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ".*rc",
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
