name: Lint and test

on:
  push:
  pull_request:

jobs:
  run-linters-and-tests:
    name: Run linters and tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"

      - name: Install Node.js dependencies
        run: pnpm install

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          continue_on_error: false
          eslint: true
          eslint_extensions: js,ts
          prettier: true

      - name: Run tests
        run: pnpm run testCoverage

      - name: Report test coverage to DeepSource
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        run: |
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key javascript --value-file ./coverage/cobertura-coverage.xml
        continue-on-error: true
